<html>
	<head>
		<title>Register</title>
	</head>

	<body>	
		<h2>Register</h2>
        <form method="post" action="/register">
        	<p>About yourself:</p><br>
          <span>Full name:</span> <input type="text" name="fullname" placeholder="Your name"><br>
          <span>Email:</span> <input type="text" name="email" placeholder="Your Email"><br>
          <p>choose a username</p><br>
          <span>Username:</span> <input type="text" name="username" placeholder="Username"><br>
        	<span>Password:</span> <input type="password" name="password" placeholder="Password"><br>
          <span>Confirm Password:</span> <input type="password" name="passwordconfirm" placeholder="Confirm Password"><br>
          <input type="submit" value="Register">
        </form>

         <h5>{{message}}</h5>
    </body>
</html>