<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
        <script type="text/javascript">
            	
        	function firstLogin () {
        		var username = document.getElementById('username_input').value
        		alert(username)
        	}

        </script>

        <title>{{title}}</title>
    </head>
    <body>
        <div>
            <h1>{{message}}</h1>
        </div>
        <div>
        	<input type="text" id="username_input" value="Username">
        	<button type="button" onclick="firstLogin()">Login</button> <br>
        </div>


    </body>
</html>